fastapi==0.116.1
uvicorn==0.35.0
torch==2.8.0
torchvision==0.23.0
numpy==2.2.6
opencv-python==4.11.0.86
scikit-learn==1.7.1
python-multipart==0.0.20
aiofiles==24.1.0
pydicom==3.0.1
ultralytics==8.3.173
keras==3.11.3
